@model Testimonials

<h1>@Model.Name <br /> @Model.Surname</h1>
<h2>@Model.Description</h2>
<h3>@Model.Job.Name</h3>

<div>
    <img style="width:300px" src="~/assets/img/testimonials/@Model.ProfileImageName"/>
</div>